<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <p class="sp-404logo">
            <a routerLink="/home">
              <img class="imgLogo" [src]="pathLogo" alt="Shopee"/>
            </a>
          </p>
          <h5 class="card-title text-center">Hãy đăng nhập vào Shopee và bắt đầu mua sắm!</h5>
          <div *ngIf="loginFailed" class="shopee-authen__error">{{feedBackLogin}}</div>
          <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
            <div class="form-group form-input-group">
              <!--<label for="inputEmail">Tên đăng nhập</label>-->
              <input type="text" class="form-control" formControlName="logUsername" [ngClass]="{'is-invalid': !submitted && loginForm.controls['logUsername'].touched &&  !loginForm.controls['logUsername'].valid}" id="inputLoginUsername"  placeholder="Điền tên đăng nhập" required>
              <div class="invalid-feedback">
                Tên đăng nhập không được trống
              </div>
            </div>

            <div class="form-group form-input-group">
              <!--<label for="inputPassword">Mật khẩu</label>-->
              <input type="password" type="password" class="form-control is-invalid" formControlName="logPassword" [ngClass]="{'is-invalid': !submitted && loginForm.controls['logPassword'].touched &&  !loginForm.controls['logPassword'].valid}" id="inputLoginPassword" placeholder="Điền mật khẩu" required>
              <div class="invalid-feedback">
                Mật khẩu không được trống
              </div>
            </div>

            <div class="custom-control custom-checkbox mb-3">

            </div>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" [disabled]="!loginForm.valid || submitted">Đăng nhập</button>
            <hr class="my-4">
          </form>
          <button routerLink="/register-page" class="btn btn-lg btn-facebook btn-block text-uppercase form-signin form-input-group btn-register" type="submit">Đăng ký</button>
          <p class="forgot-password"><a  routerLink="/forgot-password">Quên mật khẩu ?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
