<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Shopp<span style="color:red;">ee</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="text-nav">Trang chủ</span> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="text-nav">Khuyến mại</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="text-nav">Sản phẩm</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Laptop</a>
          <a class="dropdown-item" href="#">PC</a>
          <a class="dropdown-item" href="#">Điện thoại</a>
          <a class="dropdown-item" href="#">Workstations</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Phụ kiện máy tính</a>
          <a class="dropdown-item" href="#">Phụ kiện điện thoại</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><span class="text-nav">Giới thiệu</span></a>
      </li>
      <li class="nav-item">
        <form class="form-inline my-4 my-lg-0">
          <input class="form-control mr-sm-4" type="search" placeholder="Tìm kiếm laptop, phụ kiện,..." aria-label="Search">
          <button class="btn btn-outline-primary my-3 my-sm-0" type="submit"><fa-icon icon="search"></fa-icon></button>
        </form>
      </li>
    </ul>
    <div class="nav-item">
      <a class="nav-link" href="#"><fa-icon icon="shopping-cart"></fa-icon> Giỏ hàng</a>
    </div>
    <div class="nav-item dropdown menu-user">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <fa-icon icon="user"></fa-icon>  <span style="padding-left: 4px" *ngIf="!isLogedIn">Tài khoản</span> <span style="padding-left: 4px" *ngIf="isLogedIn">{{userName}}</span>
      </a>
      <div *ngIf="!isLogedIn" class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
        <a class="dropdown-item" routerLink="/register-page"  > <fa-icon icon="user-plus"></fa-icon>  Đăng ký</a>
        <a class="dropdown-item" routerLink="/login-page" > <fa-icon icon="sign-in-alt"></fa-icon>  Đăng nhập</a>
      </div>
      <div *ngIf="isLogedIn" class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
        <a class="dropdown-item" href="#"> <fa-icon icon="user-circle"></fa-icon>  Hồ sơ</a>
        <a  *ngIf="isLogedIn && isAdmin" class="dropdown-item" routerLink="/admin-product-manager" routerLinkActive = "active"> <fa-icon icon="cogs"></fa-icon>  Q.lý sản phẩm</a>
        <a  *ngIf="isLogedIn && isAdmin" class="dropdown-item" routerLink="#" routerLinkActive = "active"> <fa-icon icon="users-cog"></fa-icon>  Q.lý người dùng</a>
        <a class="dropdown-item" routerLink="/logout" routerLinkActive="active"> <fa-icon icon="sign-out-alt"></fa-icon>  Đăng xuất</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
