<div class="container-fluid body-product">
  <div class="row">
    <div class="list-product-name">
      <p  class="label-list-product">Điện thoại khuyến mãi hot</p>
      <a href="#" class="show-all">Xem tất cả</a>
    </div>
  </div>
  <div class="row body-product-all">
    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">-20%</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">Mới</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">-20%</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">-20%</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">-20%</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">-20%</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">-20%</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

  </div>


  <!-- san pham 2-->

  <div class="row">
    <div class="list-product-name">
      <p  class="label-list-product">Máy tính khuyến mãi hot</p>
      <a href="#" class="show-all">Xem tất cả</a>
    </div>
  </div>
  <div class="row body-product-all">
    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">-20%</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">Mới</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">-20%</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">-20%</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">-20%</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">-20%</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-1">
      <div class="product">
        <div class="offer">-20%</div>
        <div class="thumbnail">
          <a href="#">
            <img src="https://cdn.fptshop.com.vn/Uploads/Thumbs/2017/9/28/636422141866911416_Xiaomi Redmi 4X.jpg" alt="Product Name">
          </a>
        </div>
        <div class="product-name">
          Xiaomi Redmi 4X
        </div>
        <h4 class="price">
          $451.00
        </h4>
        <div class="button_group">
          <button class="btn add-cart" type="button"><fa-icon icon="shopping-cart"></fa-icon>  Mua</button>
          <button class="btn details" type="button"><fa-icon icon="info-circle"></fa-icon>  Chi tiết</button>
        </div>
      </div>
    </div>

  </div>
</div>
